footer {
    background-color: grey;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: arial;
    bottom : 0;
    margin-top : 70px;
}

th, td {
    border: 1px solid red;
    text-align: center;
    color: black;
}
th:hover {
    background-color: red;
    color: white;
}
tr {
    background-color: rgb(102, 204, 255);
}
table  {
    width: 100%;
}

.header {
    font-size: 75px;
    text-align: center;
    font-family: 'Alex Brush';
}

body {
    background-image: url("playa.jpeg");
    background-color: pink;
}

.logo{
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    float: left;
    height: 100px;
    width: 100px;

}

.map {
    margin: 5%;
    height:90%;
    width:90%;
}

.form-group{

    margin: 20px 10% 20px 10%;
    height:80%;
    width:80%;
}

.longmotto{
   display:inline-block;
}

.shortmotto{
   display:none;
}

@media screen and (max-width: 700px) {
    .longmotto{
       display:none;
    }

    .shortmotto{
       display:inline-block;
    }
}

#chocolate {
  width: 100%;
  height: 100%;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

@keyframes play {
   100% { background-position: -7168px; }
}

.block{
  background-color: rgb(250,251,252);
  height: 900px;
  width: 20%;
  margin:auto;
  text-align: center;
  float: left;
  margin-bottom: 100px;
  position:relative;
}

.block h2 {
  width: 100%;
  font-weight: bold;
  font-family: 'Alex Brush';
  padding: 20px;

}

.block img{
  width: 100%;
  height: 200px;
  margin:auto;
  display: block;
}
.block p{
  padding: 10px;
  width: 90%;
  margin:auto;
  font-size: 20px;
  font-family: 'Karla' sans-serif;
  margin-top: 30px;

}

@media screen and (max-width: 1200px) {
    .block{
      width:40%;
      display:subgrid;
    }

}

@media screen and (max-width: 700px) {
    .block{
      width:80%;
      display:subgrid;
      height: auto;
    }
    .block a {
      margin-bottom: 20px;
    }
  }
.block a {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  display: block;
  width: 200px;
  margin:10px auto 50px auto;
}
.blok{
    background-color: rgb(250,251,252);
    height: auto;
    width: auto;
    margin:30px auto 30px auto;
    float:none;
    padding: 30px;
    opacity: 0.8;
    border-radius: 8px;
}

#message {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  margin: 10px auto 10px auto;
  width: 30%;
  padding: 10px;
  display: none;
}
.col-lg-5 {
  margin:100px auto 50px auto;
  background-color: white;
  padding:10px;
  text-align: center;
  font-size: 30px;
  opacity:0.9;
  font-weight: bold;
  border-radius: 8px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
